S3method(a1,ReferencePanel)
S3method(a1,ReferenceShard)
S3method(a1_hash64,ReferencePanel)
S3method(a1_hash64,ReferenceShard)
S3method(a2,ReferencePanel)
S3method(a2,ReferenceShard)
S3method(a2_hash64,ReferencePanel)
S3method(a2_hash64,ReferenceShard)
S3method(bp,ReferencePanel)
S3method(bp,ReferenceShard)
S3method(chr,ReferencePanel)
S3method(chr,ReferenceShard)
S3method(is_object_compatible,ReferencePanel)
S3method(is_object_compatible,default)
S3method(is_single_nucleotide_variant,ReferencePanel)
S3method(is_single_nucleotide_variant,ReferenceShard)
S3method(is_strand_ambiguous,ReferencePanel)
S3method(is_strand_ambiguous,ReferenceShard)
S3method(num_snp,ReferencePanel)
S3method(num_snp,ReferenceShard)
S3method(print,ReferencePanel)
S3method(print,ReferenceShard)
S3method(save_cache,ReferencePanel)
S3method(select_shards,ReferencePanel)
S3method(shard_offsets,ReferencePanel)
S3method(shards,ReferencePanel)
S3method(shards,default)
S3method(snp,ReferencePanel)
S3method(snp,ReferenceShard)
S3method(validate_checksums,ReferencePanel)
export(a1)
export(a1_hash64)
export(a2)
export(a2_hash64)
export(bp)
export(chr)
export(get_verbosity)
export(is_object_compatible)
export(is_single_nucleotide_variant)
export(is_strand_ambiguous)
export(load_reference)
export(load_reference_cache)
export(num_snp)
export(save_cache)
export(save_reference_cache)
export(select_shards)
export(set_verbosity)
export(shard_offsets)
export(shards)
export(snp)
export(validate_checksums)
export(version)
importFrom(Matrix,Matrix)
importFrom(bit64,integer64)
importFrom(digest,digest)
importFrom(jsonlite,fromJSON)
